.task{
    padding: 2px 5px;
    background: #f0f0f0;
    margin-bottom: 5px;
    z-index: 1;
}
h4{
    margin: 0;
    padding: 5px;
}
p{
    margin: 0;
    padding: 5px;
}

.delete_icon{
    cursor: pointer;
    z-index: 3;
}
.reminder{
    border-left: solid 5px rgb(218, 218, 75);
}