input{
    display: block;
    width: -webkit-fill-available;
    padding: 15px;
    margin-bottom: 10px;
    border: solid 3px rgb(154 154 85);
}

input:focus{
   outline: none;
}

label{
    display: block;
    font-size: 20px;
    font-weight: 400;

}

.submit{
    display: block;
    color: white;
    cursor: pointer;
    background-color: rgb(154 154 85);
    margin: 20px 0;
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
}